body {
    background-color: azure;
}
h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 200;
    font-family: Mistral;
    letter-spacing: 5px;
    padding: 15px;
}

nav {
    text-align: center;
}

nav span {
    margin: 15px 10px;
    padding-bottom: 8px;
    display: block;
    font-size: 18px;
    font-weight: 100;
    font-family: Harrington;
    letter-spacing: 2px;
}

nav a{
    color: purple;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    width: 800px;

}

.a p {
    text-align: justify;
    font-size: 20px;
    font-weight: 100;
    font-family: Century;
}

.b p{
    text-align: center;
    font-size: 50px;
    font-family: Harrington;
}

table{
    margin-left: 300px;
    margin-right: auto;
}

table,th,td {
    border-collapse: collapse;
}
th,td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.table2 tr:nth-child(odd) {
    background-color: #f2f2f2;
}
.table1 tr:hover {
    background-color:#f5f5f5;
}

ul {
    margin-left: 250px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    font-family: Candara;
    letter-spacing: 1px;
    display: block;
    line-height: 50px;

}

